{% extends "base.html" %}
{% block title %}{{ _('Sign Up') }}{% endblock %}
{% block content %}
<form method="POST" class="t20 text-white">
  <h3 class="lean-h text-white">
    {{ _('Sign Up') }}
  </h3>
  <div class="form-group">
    <label for="email">{{ _('Email Address') }}</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="{{ _('Enter email') }}"
    />
  </div>
  <div class="form-group">
    <label for="firstName">{{ _('First Name') }}</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="{{ _('Enter first name') }}"
    />
  </div>
  <div class="form-group">
    <label for="password1">{{ _('Password') }}</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="{{ _('Enter password') }}"
    />
  </div>
  <div class="form-group">
    <label for="password2">{{ _('Password (Confirm)') }}</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="{{ _('Confirm password') }}"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary btn-block">{{ _('Submit') }}</button>
</form>
{% endblock %}
